{% extends 'base.html' %}

{% block content %}
    <h1>Title: {{ post.title }}</h1>
    <p>Description: {{ post.description }}</p>
    <p>Text: {{ post.text }}</p>
    <p>Owner: <a href="{% url 'blog:users-posts' post.owner.id %}">{{ post.owner.username }}</a></p>

    <h2>Comments></h2>
    <ul>
        {% for comment in comments %}
            {% if comment.owner %}
                <li><h3>{{ comment.owner }}: {{ comment.text }}</h3></li>
            {% else %}
                <li><h3>Anonymous: {{ comment.text }}</h3></li>
            {% endif %}

        {% endfor %}
    </ul>

    {% if user.is_authenticated and user.id == post.owner.id %}
        <a href="{% url 'blog:update-post' post.pk %}">Edit Post</a>
        <a href="{% url 'blog:delete-post' post.pk %}">Delete Post</a>
    {% endif %}

    <h3>Add Comment</h3>
    <form method="post" action="{% url 'blog:post' post.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>

{% endblock %}

